<nav class="navbar navbar-dark navbar-right" style="background-color: rgb(70, 180, 207);">
    <a class="navbar-brand" href="/">
        <img src=""> 

    </a>

    <form action="/livro" method="post">
        Pesquisar Livros 
        <input type="text" name="refis" id="manga"> 
         <button style="background-color: white;" >Go</button>

    </form>

        
    
   


         <a class="navbar-brand" style="color: white;" >
        <a style="font: bold 25px Arial;" href="/catalogo">Catalogo</a>

    </a>
    <a class="navbar-brand" style="color: white;" href="/">
        <h5>Clube do livro</h5>

    </a>
    <a class="navbar-brand" style="color: white;" href="/configuracoes">
        <h5>Configurações</h5>

    </a>
    <a class="navbar-brand" style="color: white;" href="/">
        <h6>Login/Create Account</h6>

    </a>


</nav>
<script src="/index.js"></script>