<%- include ("partials/header.ejs")%>
<body>
    <%- include ("partials/navbar.ejs")%>

    
    <div style="margin-left: 50vh; margin-top: 16vh;">
        <img  src="/img/bib.png" >

    </div>
        
    
    
    

</body>
<%- include ("partials/footer.ejs")%>